/* -head 태그 안의 style 태그를 이용:style 태그
   -다른 태그 안에 style 속성 사용:style 속성
   -선택자끼리의 위계관계 존재 a<class<id : 포괄적인 것보다 구체적인것 이 영향력이 더 크다
   - 도구더보기, 개발자 도구 창을 통해  margin,padding 어느값을 조정할지 확인한후 작업하면 된다.
   - 태그는 그대로 id값은 #으로 반은형 디자인은 @media로 
*/
body{
      margin:0;
}
a {
    color:black;
    text-decoration: none;
}
h1 {
    font-size:45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
    padding: 20px;
}
ol {
     border-right:1px solid gray;
     width:100px;
     margin:0;
     padding:20px;
}

#grid ol {
 padding-left: 33px;

}

/* .saw {
 color:gray;
}
*/
/* #active {
 color:red;
}
*/
#grid {
       display: grid;
       grid-template-columns: 150px 1fr;
      }
#grid #article {
       padding: 25px;
}
@media(max-width:800px){
    #grid {
      display: block;
    }
    ol {
      border-right: none;
    }
    h1 {
     border-bottom: none;
    }
}
